@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap");
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem !important;
}
.front-img {
  background-image: url("photos/presentacion!!.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  width: 100%;
}
#welcome {
  background-color: #b99a6f;
}
#welcome-LiliExpress {
  font-size: 4rem;
}
#welcome-div {
  min-height: 800px;
}

.worker {
  background-image: url(photos/withTheBest.jpeg);
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  width: 100%;
  height: auto;
}
#container-pround-proyect {
  background-color: #b99a6f;
  min-height: 800px;
}
.photos:hover {
  touch-action: auto;
  border:2px solid white;
  border-radius: 1rem;
}

/* 1. Define el color inicial del icono. 
(Usamos la variable de color secundario de Bootstrap)
*/
.list-group-item-warning i {
    color: var(--bs-light) ; /* Color inicial */
    transition: color 0.2s ease-in-out; /* Para una transición suave */
    
}


/* 2. Define el comportamiento al pasar el ratón (hover)
*/
.bi-person-fill:hover  {
    /* El icono cambiará al color Warning de Bootstrap */
    color: var(--bs-warning) !important; 
    transform: scale(2.1);
    /* Nota sobre !important:
*/
}
.bi-cart4:hover{
  color: var(--bs-warning)!important;
  
}