@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap");
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem !important;
}
.front-img {
  background-image: url("photos/presentacion!!.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  width: 100%;
}
#welcome {
  background-color: #b99a6f;
}
#welcome-LiliExpress {
  font-size: 4rem;
}
#welcome-div {
  min-height: 800px;
}

.worker {
  background-image: url(photos/withTheBest.jpeg);
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  width: 100%;
  height: auto;
}
#container-pround-proyect {
  background-color: #b99a6f;
  min-height: 800px;
}
.photos:hover {
  touch-action: auto;
  border:2px solid white;
  border-radius: 1rem;
}
#form-section{
  display: grid;
  grid-template-areas: "img form";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  background-color: #b99a6f;
  border-top: 1px solid black;
  
}
#img-form{
  background-image: url("photos/6666f698a10249e7f2a164a0_Piso compartido energia.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  width: 100%;
  grid-area: img;
}
#form{
  grid-area: form;
  padding: 1em;
}