html,
body {
  height: 100%;
}

/* Estilos para el fondo animado */
.fondo-oscuro-animado {
    /* Combinación de colores oscuros para el degradado */
    background: linear-gradient(-45deg, #0A1931, #12002f, #212121, #1d003a);
    background-size: 400% 400%;
    /* Aplica la animación */
    animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
